{% extends "base.html" %}
{% block link %}
  /staticFiles/home.css
{% endblock %}
{% block title %}Hi! I'm Kahlil!{% endblock %}
{% block content %}
  <h1>Welcome!</h1>
  <p id ="intro">My name is Kahlil Pollack-Hinds! I hope this website gives insight into my knowledge, experience and interests!</p>
  <div id="home-buttons-container">
      <a href="aboutme"><button class = "home-buttons" >About me</button></a>
      <a href="projects"><button class = "home-buttons">Projects</button></a>
  </div>
{% endblock %}